{% extends 'base.html.twig' %}

{% block title %}Fichefrais index{% endblock %}

{% block head %}
    {% block stylesheets %}
        <link href="{{ asset('/css/styles.css') }}" rel="stylesheet" />
    {% endblock %}
{% endblock %}

{% block body %}
    <h1>Fichefrais index</h1>

    <table class="table ficheContainer">
        <thead class="ficheHead">
            <tr>
                <th>Mois</th>
                <th>Nbjustificatifs</th>
                <th>Montantvalide</th>
                <th>Datemodif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="ficheBody">
        {% for fichefrai in fichefrais %}
            <tr>
                <td>{{ fichefrai.mois }}</td>
                <td>{{ fichefrai.nbjustificatifs }}</td>
                <td>{{ fichefrai.montantvalide }}</td>
                <td>{{ fichefrai.datemodif ? fichefrai.datemodif|date('Y-m-d') : '' }}</td>
                <td class="clickable">
                    <a href="{{ path('fichefrais_show', {'mois': fichefrai.mois}) }}">afficher</a>
                    <a href="{{ path('fichefrais_edit', {'mois': fichefrai.mois}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune fiche trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('fichefrais_new') }}">Créer une nouvelle fiche</a>
{% endblock %}
